
  
  .contact-form-container {
    max-width: 400px;
    margin-top: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form h1 {
    color: purple; /* Change text color to purple */
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form div {
    margin-bottom: 1rem;
  }
  
  .contact-form label {
    font-weight: bold;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form textarea {
    height: 150px;
  }
  
  .contact-form button {
    padding: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  