/* ContactUs.css */

.contact-us-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  
  .contact-us-container-Typewriter {
    font-weight: 700;
    font-size: 4rem;
    color: purple;
    text-align: center; /* Center the Typewriter text */
  }
  
  .social-icons {
    display: flex;
    flex-wrap: wrap; /* Allow icons to wrap to the next line on smaller screens */
    justify-content: center;
    margin-top: 2rem;
  }
  
  .social-icons-universal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem; /* Add margin to create spacing between icons */
  }
  
  .social-icons img {
    width: 6rem; /* Decrease icon size for smaller screens */
  }
  
  .social-icons h2 {
    font-size: 1rem;
    text-align: center; /* Center the text below the icons */
    margin-top: 0.5rem; /* Add margin-top for spacing after the image */
  }
  
  /* Media Query for medium devices */
  @media (max-width: 768px) {
    .contact-us-container-Typewriter {
      font-size: 3rem;
    }
  
    .social-icons img {
      width: 5rem;
    }
  }
  
  /* Media Query for small devices */
  @media (max-width: 576px) {
    .contact-us-container-Typewriter {
      font-size: 2rem;
    }
  
    .social-icons img {
      width: 4rem;
    }
  }
  



