.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }
  
  .facilities h1 {
    color: #1f5156;
    font-size: 5rem;
    font-weight: 700;
  }
  
  .facilities-p {
    color: rgb(255, 163, 5);
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 2.5rem;
  }
  
  .facilities-col {
    flex-basis: 100%; /* Set flex basis to 100% for small screens */
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
  }
  
  .facilities-col img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .facilities-col p {
    padding: 0;
    color: black;
  }
  
  .facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
  }
  
 
  @media (min-width: 768px) {
    .facilities-col {
      flex-basis: 31%; 
    }
  }
  