.social-icons-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social-icons-footer h2{
    font-size: 5px;

}

.social-icons-cont{
    display: flex;
    align-items: center;
    
}

.social-icons-cont img{
    width: 2.2rem;
    margin-left: 2rem;


}

.footer-connect-para{
    font-size: 1.2rem;
}
.social-icons-cont img:hover {
    transform: scale(1.5); 
}

.footer-button{
    background-color: transparent;
    color: white;
    border: transparent;
}

.footer-button:hover {
    transform: scale(1.1); 
}

.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 576px) {
    .footer-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .footer-connect{
        margin: 0 0 1rem 1.5rem;
    }
  }
  