
.education-span{
    color: rgb(24, 170, 255);
}


/* HeroSection.css */

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
}

.flex-internal-container-one{
    width: 80%; /* Adjust width for smaller screens */
    text-align: center; /* Center text */
    margin-bottom: 2rem; /* Add some space between text and image */
}

.flex-internal-container-two{
    width: 80%; /* Adjust width for smaller screens */
    text-align: center; /* Center image */
}

.flex-internal-container-two img{
    max-width: 100%; /* Ensure image does not overflow its container */
    height: auto; /* Maintain aspect ratio */
}

.flex-internal-container-one h1{  
    font-size: 3rem; /* Decrease font size for smaller screens */
    font-weight: 700;
    line-height: 4rem; /* Adjust line height for better readability */
}

.typewriter-span{
    color: purple;
}

.para-container{
    padding-top: 1rem;
}

/* Media Queries for responsiveness */

@media (min-width: 768px) {
  .flex-container{
    flex-direction: row;
  }

  .flex-internal-container-one, .flex-internal-container-two {
    width: 40%; /* Equal width for both containers on larger screens */
  }

  .flex-internal-container-one {
    padding-right: 2rem; /* Add space between text and image */
  }
}

.hero-stack{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.hero-stack-internal{
    margin: 1rem;
}